doctype html
html(lang='en')
  head
    title Panel Administrativo
    h1 Panel Administrativo
  body
  div(id="navbar" class="navbar-collapse collapse")
      ul(class="nav navbar-nav navbar-right")
          li
              a(href="index.html") Principal
          li
              a(href="clientes.html") Clientes
          li
              a(href="proveedores.html") Proveedores
          li
              a(href="ventas.html") Ventas
          li
              a(href="almacen.html") Almacen
          li
              a(href="") Servicios
          li
              a(href="reportes.html") Reportes
      ul(class="nav navbar-nav navbar-right")
          li
              a(href="") Salir
      
