section(id="contacto" class="contacto")

    form(name="contacto" method="post" action="/menu")
        div
            label Nombre*
            input(type="text" name="first_name" class="form-control" required placeholder="Nombre")

            label E-mail*
            input(type="text" name="email" class="form-control" required placeholder="Email")

            label Mensaje*
            textarea(name="message" class="form-control" placeholder="Mensaje")

            input(class="btn btn-primary" type="submit" value="Enviar")
    
    div(class="grid_3")
        div(class="text1" &nbsp)
        figure(class="")
            iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=innobit,+venustianocarranza,+28000+Colima,+Col.,+Mexico&amp;aq=0&amp;sll=19.057794,-104.264381,17&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Calle Venustiano Carranza,colima,+mexico&amp;19.057794,-104.264381,17&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed width="600px" height="350px""
      
