div(id="servicios" class="content")
    div(class="container_12")
        div(class="grid_12")
            div(class="slogan")
                h3 Servicios innobit
              
                div(class="text1")
                    a(href="" rel="nofollow" class="tm_link")
                    br
        div(class="grid_3")
            div(class="box maxheight")
                img(src="img/soporte.png" alt="")
                div(class="text1")
                    a(href="#")Soporte Tecnico
            
                div(class="socials1")
                  a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
        div(class="grid_3")
            div(class="box maxheight")
                img(src="img/software.png" alt="")
                div(class="text1")
                    a(href="#")Desarrollo de sistemas
                
                div(class="socials1")
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
        div(class="grid_3")
            div(class="box maxheight")
                img(src="img/hp.jpg" alt="")
                div(class="text1")
                    a(href="#") Centro autorizado hp
              
                div (class="socials1")
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
        div(class="grid_3")
            div(class="box maxheight")
                img(src="img/cisco.jpg" alt="")
                div(class="text1")
                    a(href="#">Redes)
                
                div(class="socials1")
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")
      
