doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
  div(class="col-md-5 centrer block no-float top-space text-left")
      form(method ="POST" action"/admin" style="margin-top:1.em;")
        div(class=".form-group")
          label(for='name') Nombre
          input(type='text', name='name'class="form-control" placeholder='Nombre del cliente')")
    
